# ignore all except pattern
/*
tmux/plugins/

# directories
!i3/
!rofi/
!wezterm/
!mako/
!.local/
!feh/
!alacritty/
!fish/
!foot/
!zsh/
!hypr/
!kitty/
!ghostty/
!ranger/
!Thunar/
!swaylock/
!swaync/
!tmux/
!waybar/
!wofi/
!wpaperd/
!zed/

# files
!.gitignore
!plasma-localerc
!starship.toml
!starship_cat.toml
!.ideavimrc
!.bashrc
!.zshrc
!.ignore
!configuration.nix
