"" -- suggested options --
" show a few lines of context around the cursor. note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" do incremental searching.
set incsearch

let mapleader = " "
nmap <space> <leader>
nnoremap <leader>u :action showusages<cr>
" don't use ex mode, use q for formatting.
map q gq


set clipboard+=unnamed
" --- enable ideavim plugins https://jb.gg/ideavim-plugins

plug 'machakann/vim-highlightedyank'
plug 'tpope/vim-commentary'
plug 'tpope/vim-surround'
plug 'preservim/nerdtree'

" plug
set surround

" idea stuff
set ideajoin
set idearefactormode=keep
set ideamarks

" highlight copied text
" mappings

" map <leader>e <action>(activateprojecttoolwindow)
" map <leader>qq <action>(closetab)

map <leader>[ <action>(gotopreviouserror)
map <leader>] <action>(gotonexterror)

"
map <leader>tm <action>(togglebookmark)

" navigation
map <leader>gg <action>(jumptolastchange)
map gn <action>(gotonextbookmarkineditor)
map gp <action (gotopreviousbookmarkineditor)

" search
map <leader>fc <action>(gotoclass)
map <leader>fe <action>(searcheverywhere)
map <leader>ff <action>(gotofile)
map <leader>fg <action>(findinpath)
map <leader>fa <action>(gotoaction)
map <leader>fs <action>(gotosymbol)
map <leader><leader> <action>(recentfiles)
map <leader>fd <action>(helpdiagnostictools)
map <leader>ft <action>(textsearchaction)
map <leader>/ <action>(find)

" run
" map <leader>runclass (runclass)
map <leader>rr <action>(run)
map <leader>rt <action>(runclass)

"git
map <leader>gk <action>(activatecommittoolwindow)
map <leader>gk <action>(vcs.push)
" debug
map <leader>tb <action>(togglelinebreakpoint)
map <leader>dd <action>(resume)
map <leader>dr <action>(debug)
map <leader>dq <action>(stop)

" test
map <leader>gt <action>(gototest)
map <leader>ct <action>(generatetestmethod)
map <leader>c <action>(generate)

" completion
imap <c-f> <action>(codecompletion)

" lsp
map gd <action>(gototypedeclaration)
map gd <action>(gotodeclaration)
map gi <action>(gotoimplementation)
map <leader>rn <action>(renameelement)

map <leader>oc <action>(reformatcode)
map <leader>fm <action>(reformatcode)<action>(reformatwithprettieraction)
map <leader>oi <action>(optimizeimports)
map <leader>ev <action>(introducevariable)
map <leader>ec <action>(introduceconstant)
map <leader>em <action>(extractmethod)
map <leader>ef <action>(introducefield)

map <leader>k <action>(quickjavadoc)
imap <c-s> <action>(parameterinfo)
map <c-s> <action>(parameterinfo)
map <leader>s <action>(gotosymbol)

map <leader><leader>t <action>(vimfindactionidaction)
" tonextbookmarkineditor)
