//@theme "/home/shd/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/usr/share/rofi/themes/c64.rasi"
//@theme "/home/shd/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/shd/.local/share/rofi/themes/spotlight-dark.rasi"

configuration {
  show-icons: true;
}
@theme "themes/rounded-gray-dark.rasi"
