[Desktop Entry]
Name=Outline VPN
Comment=Launch Outline VPN.
Exec=/home/shd/.local/apps/outline-client/Outline-Client.AppImage
Icon=/home/shd/.local/apps/outline-client/outline-client.png
Terminal=false
Type=Application
Categories=Network;
StartupWMClass=outline

